@model IEnumerable<prueba_tecnica.Models.UsuarioClass>

@{
    ViewBag.Title = "Login";
}

<div class=" container">

    @{ 
        if(!string.IsNullOrEmpty(ViewBag.Message))
        {
            <div class="alert alert-warning">@ViewBag.Message</div>
        }
    }



    <form action="/Usuario/Login" method="post">
        <div class="form-group">
            <label>Ingresa tu nombre de usuario</label>
            <input type="text" name="usuario" value="" />
        </div>
        <div class="form-group">
            <label>Ingresa tu correo</label>
            <input type="password" name="correo" value="" />
        </div>
        <div class="form-group">
            <button>Iniciar sesion</button>
        </div>
    </form>
    
    
    
    
    
    
</div>